<%#部分テンプレート#%>
<% posts.each do |post| %>
  
   <td>
     <%= link_to post_path(post.id) do %>
      <%= image_tag post.get_post_image, size:'200x200' %>
     <% end %>
   </td>
  
    <h2>タイトル</h2>
     <p><%= post.title%></p>
  
  
    <tr id="like_post_<%= post.id %>">
     <td class="like_btn"><%= render "public/likes/btn", post: post %></td>
    </tr>
   
   <td>
      💭<%= post.comments.count %>
   </td><br/>
  
<% end %>
  
  