</br></br>
<%= render 'layouts/errors', obj: @post %>
<div class="container">
 <div class="row">
  <div class="col-6">
   <h2>タグ検索</h2>
   
　　<%= form_with url: search_posts_path, local: true, method: :get, id:"tag_id" do |form| %>
     <%= form.text_field :keyword, :placeholder => "#半角" %>
     <%= form.submit "検索" %>
    <% end %>
  </div>
  <div class="col-6">
   <h2>カテゴリー検索</h2>
    <script>
      window.onpageshow = function(){
        document.getElementById("example_id").reset();
        document.getElementById("tag_id").reset();
      };
    </script>
    <%= form_tag({controller:"posts",action:"index"}, method: :get,id:"example_id") do %>
      <% Tag.all.each do |t| %>
       <% if @tags %>
         <li><%= check_box :tag_ids, t.name, checked: @tags[t.name] == "1" ? true :false %><%= t.name %></li>
       <% else %>
         <li><%= check_box :tag_ids, t.name, checked: false %><%= t.name %></li>
        <%end%>
      <% end %>
      <%= submit_tag '検索' %>
    <% end %>  
    </div>
  </div>
</div>
</br>
</br>



<%= render 'index', posts: @posts%>


