
 </br>
 <p><i class="fas fa-exclamation-triangle"></i>以下の内容はお控えください</p>
   <ul>
     <li>生体の販売＆譲渡に関する内容</li>
     <li>誹謗中傷＆公序良俗の反する内容</li>
     <li>金銭に特定する内容</li>
   </ul></br>

<h2>投稿</h2>
<%= form_with model: @post,local:true do |f| %>
    <div class="row mt-3">
     <p class="col-md-2">投稿画像</p>
      <div class="form-group">
        <%= f.file_field :post_image, class: "form-control-file user_image", accept: 'image/*' %>
      </div>
    </div>
    <div class="row mt-3">
     <p class="col-md-2">タイトル</p>
      <div class="form-group">
        <%= f.text_field :title %>
      </div>
    </div>
    <div class="row mt-3">
     <p class="col-md-2">タグ</p>
      <div class="form-group">
        <%= f.text_area :tag,:placeholder => "#半角", class: "form-control introduction" %>
      </div>
    </div>
    <div class="row mt-3">
      <%= f.collection_check_boxes(:tag_ids, Tag.all, :id, :name) do |tag| %>
        <div class='form-check'>
          <%= tag.label class: 'form-check-label' do %>
           <%= tag.check_box class: 'form-check-input' %>
           <%= tag.text %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="row mt-3">
     <p class="col-md-2">キャプション</p>
      <div class="form-group">
        <%= f.text_area :body, class: "form-control introduction" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.submit class: 'btn btn-success' %>
    </div>
    
    
<% end %>