Posts#show
<h2><%=@user.handlename %>さんの投稿</h2>
<%= link_to user_path(@user.id) do %>
 <%= image_tag @user.get_profile_image, size:'100x100' %>
<% end %>

<h2>投稿画像</h2>	
  <p>
    <%=link_to posts_path do %>
     <%= image_tag @post.get_post_image, size:'100x100' %>
    <% end %>
  </p>
<div id="like_post_<%= @post.id %>">
     <%= render "public/likes/btn", post: @post %>
</div>

<div>
  💭: <span id="comment_count"><%= @post.comments.count %></span>
</div>

<h3>タイトル</h3>
  <p><%= @post.title %></p>
<h3>カテゴリー</h3>
<% @post.tags.each do |tag| %>
    <span><%= tag.name %></span>
<% end %>
<h3>タグ</h3>
  <p><%= @post.tag %></p>
<h3>キャプション</h3>
  <p><%= @post.body %></p>
  
<% if @post.user == current_user %>   
 <%= link_to "...", edit_post_path(@post.id)  %>
<% end %>
<%#= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>   
<% if @post.user == current_user %>
 <%= link_to '🗑',post_path(@post.id) , method: :delete, data: { confirm: '本当に消しますか？' }%>
<% end %>
  

　
    <!--コメントフォーム-->
    <td>
      <%= render "public/comments/form", post: @post, comment: @comment %>
    </td>   
    <!--コメント一覧部分-->
　　<div id="comments-index">
      <%= render "public/comments/index", post: @post %>
    </div>
    </div>
  </div>
        
