</br></br>
<div class="container">
<h2><%=@user.handlename %>さんが投稿しました</h2>
</br>
<%= link_to user_path(@user.id) do %>
 <%= image_tag @user.get_profile_image, size:'100x100' %>
<% end %>
</br></br></br>


 <h2>投稿画像</h2>	
  <p>
    <%=link_to posts_path do %>
     <%= image_tag @post.get_post_image, size:'200x200' %>
    <% end %>
  </p>
  <div class="row">
   <div class="col-1">
    <div id="like_post_<%= @post.id %>">
     <%= render "public/likes/btn", post: @post %>
    </div>
   </div>
   <div class="col-2">
    💭: <span id="comment_count"><%= @post.comments.count %></span>
   </div>
  </div>

</br>

<p>#タイトル</p>
  <h3><%= @post.title %></h3>
<p>#カテゴリー</p>
<h3><% @post.tags.each do |tag| %>
    <span><%= tag.name %></span>
<% end %>
</h3>
<p>#タグ</p>
  <h3><%= @post.tag %></h3>
<p>#キャプション</p>
  <h3><%= @post.body %></h3>
 <%= @post.created_at.strftime('%Y/%m/%d') %>
 
  
<% if @post.user == current_user %>   
 <%= link_to edit_post_path(@post.id),class: "btn btn-primary" do %>
  <i class="fas fa-edit"></i>
 <% end %>
<% end %>
<%#= link_to "削除", post_path(@post.id), method: :delete, "data-confirm" => "本当に削除しますか？" %>   
<% if @post.user == current_user %>
 <%= link_to post_path(@post.id) , method: :delete, class: "btn btn-danger", data: { confirm: '本当に消しますか？' } do%>
   <i class="fas fa-trash-alt"></i>
 <% end %>
<% end %>
</br></br>

　
    <!--コメントフォーム-->
    <td>
      <%= render "public/comments/form", post: @post, comment: @comment %>
    </td>   
    <!--コメント一覧部分-->
　　<div id="comments-index">
      <%= render "public/comments/index", post: @post %>
    </div>
    </div>
  </div>
        
</div>