<h2>コメント一覧</h2>

<div>
  <% post.comments.each do |post_comment| %>
    <p>
     <%= link_to user_path( post_comment.user.id) do %>
      <%= image_tag post_comment.user.get_profile_image, style: "width: 30px; height: 30px; border-radius: 50%" %></p>
     <% end %>
    <%= post_comment.user.handlename %></br>
    <%= post_comment.comment %></br>
    <%= post_comment.created_at.strftime('%Y/%m/%d') %>
    
    <% if post_comment.user == current_user %>
      <%= link_to "削除", post_comment_path(post_comment.post, post_comment), method: :delete, class: "btn btn-danger", remote: true, data: {confirm: "本当に削除しますか？"}  %>
    <% end %>
  <% end %>
</div>
