# 会員Top
ようこそ、みんなのペットコミュニティMiteneへ!

 
 <div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-6 col-md-4">
      <div class="post_images">
        <%= link_to post_path(post.id) do %>
         <%= image_tag post.get_post_image, size: "300x200" %>
        <% end %>
      </div>
     
       <div>
        <h2><%= post.title%></h2>
         ♡<%= post.likes.count %>
         💭<%= post.comments.count %>
        <br/>
       </div>
      </div>
    <% end %>
 </div>
  
  
  