</br></br>
<h2>ようこそみんなのペットコミュニティMiteneへ!</h2></br>
</br></br>

 
 <div class="row">
  <% @posts.each do |post| %>
    <div class="col-sm-6 col-md-4">
      <div class="post_images">
        <%= link_to post_path(post.id) do %>
         <%= image_tag post.get_post_image, size: "250x250" %>
        <% end %>
      </div>
     
       <div>
        <h3><%= post.title%></h3>
         ♡<%= post.likes.count %>
         💭<%= post.comments.count %>
        <br/>
       </div>
      </div>
    <% end %>
 </div>
  
  <%= paginate @posts %>
  
  