会員一覧


<table class="table">
  <thead>
    <tr>
     
      <th scope="col">名前</th>
      <th scope="col">名前（カナ）</th>
      <th scope="col">ハンドルネーム</th>
      <th scope="col">メールアドレス</th>
      <th scope="col"> 退会ステータス</th>
      <th scope="col"></th>
      
    </tr>
  </thead>
  <% @users.each do |user| %>
  <tbody>
    <tr>
      <td><%= user.first_name %><%= user.last_name %></td>
      <td><%= user.first_name_kana %><%= user.last_name_kana %></td>
      <td><%= user.handlename %></td>
      <td><%= user.email %></td>
      <td><%= user.is_deleted %></td>
      <td><%= link_to '削除', admin_user_path(user.id), method: :delete, class: "btn btn-danger",data: {confirm: "本当に削除しますか？"}  %></td>
    </tr>
  </tbody>
  <% end %>
</table>
