<%= render 'layouts/user_errors', obj: @user %>

 
<div class='row mt-3'>
  <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
    <h2><%= @handlename %>さんのマイページ編集</h2>
    <%= form_with model: @user, local: true do |f| %>
    <div class="row mt-3">
     <p class="col-md-6">ハンドルネーム</p>
      <div class="form-group">
        <%= f.text_field :handlename %>
      </div>
    </div>
    <div class="row mt-3">
     <p class="col-md-6">プロフィール画像</p>
      <div class="form-group">
        <%= f.file_field :profile_image, class: "form-control-file user_image", accept: 'image/*' %>
      </div>
    </div>
    <div class="row mt-3">
     <p class="col-md-6">自己紹介文</p>
      <div class="form-group">
        <%= f.text_area :introduction, class: "form-control introduction" %>
      </div>
    </div>
    <div class="form-group">
     <%= f.submit class: 'btn btn-secondary' %>
    </div>
   <% end %>
    <div class="form-group">
      <% if @user == current_user  %> 　
    　 <%= link_to user_unsubscribe_path(current_user),class: "btn btn-danger" do %>
       <i class="fas fa-user-times"></i>
       <% end %>
      <% end %>
    </div>
  </div>
 </div>
</div>
