Users#show
マイページ

<h2><%= @user.handlename %>さんのマイページ</h2>


<table class='table'>
  <tr><%= image_tag @user.get_profile_image, size:'150x150' %></tr>
  <tr>
    <% if @user == current_user %> 
    　<%= link_to edit_user_path,class: "btn btn-primary" do %>
    　 <i class="fas fa-user-edit"></i>
    　<% end %>
    <% end %>
  </tr>

  
  <tr>
	  <th>名前</th>
	  <th><%= @user.handlename %></th>
  </tr>
  <tr>
	  <th>自己紹介</th>
	  <th><%= @user.introduction %></th>
	</tr>
</table>

<h2><%= @user.handlename%>さんの投稿</h2>
      <%= render 'public/posts/index', posts: @posts%>

