<% if admin_signed_in? %>
  <li class="nav-item">
    <%= link_to "ホーム", admin_root_path, class: 'btn btn-outline-secondary ml-3 mb-3' %>
  </li>
  <li class="nav-item">
    <%= link_to "会員一覧", admin_users_path, class: 'btn btn-outline-secondary ml-3 mb-3' %>
  </li>
  <li class="nav-item">
    <%= link_to "投稿一覧", admin_posts_path, class: 'btn btn-outline-secondary ml-3 mb-3' %>
  </li>
  <li class="nav-item">
    <%= link_to "コメント一覧", admin_post_comments_path, class: 'btn btn-outline-secondary ml-3 mb-3' %>
  </li>
  <li class="nav-item">
    <%= link_to "ログアウト", destroy_admin_session_path, method: :delete, class: 'btn btn-outline-secondary ml-3' %>
  </li>
<% else %>
  <li class="nav-item">
    <%= link_to "ホーム", admin_root_path, class: 'btn btn-outline-secondary ml-3 mb-3' %>
  </li>
  <li class="nav-item">
    <%= link_to "ログイン", new_admin_session_path, class: 'btn btn-outline-secondary ml-3' %>
  </li>
<% end %> 