<% if user_signed_in? %>
  <li>
    <%= link_to "ホーム",root_path,class: 'nav-link text-light'%>
  </li>
  <li>
    <%=  link_to "マイページ", user_path(current_user.id),class: 'nav-link text-light'%>
  </li>
  <li>
    <%=  link_to "投稿",new_post_path ,class: 'nav-link text-light'  %>
  </li>
  <li>
    <%=  link_to "すべての投稿", posts_path ,class: 'nav-link text-light'  %>
  </li>
  <li>
    <%=  link_to "ユーザー", users_path ,class: 'nav-link text-light'  %>
  </li>
  <li>
    <%= link_to  destroy_user_session_path, method: :delete,class: 'nav-link text-light' do %>
     <i class="fas fa-sign-out-alt"></i>
    <% end %>
  </li>
<% else %>
  
  <li>
    <%= link_to "サイトポリシー", about_path,class: 'nav-link text-light' %>
  </li>
  <li>
    <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
      <i class="fas fa-user-plus"></i> 新規登録
    <% end %>
  </li>
  <li>
    <%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
      <i class="fas fa-sign-in-alt"></i> ログイン
    <% end %>
  </li>
  <li>
    <%= link_to users_guest_sign_in_path, method: :post,class: 'nav-link text-light' do %>
     <i class="fas fa-user-alt"></i>ゲスト
    <% end %>
  </li>
<% end %>

