<!DOCTYPE html>
<html>
  <head>
    <title>Pettonocommunity_Mitene</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/5667bc939f.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/"><%= image_tag("logo.jpg",size: "100x100") %></a>
          <a class="navbar-brand" href="/"><span>みんなのペットコミュニティ Mitene</span></a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if params[:controller].include?('admin') %>
                 <%= render 'layouts/header_admin' %>
              <% else %>
                <%= render 'layouts/header' %>
              <% end %>
            </ul>
          </div>
        </div>
      </nav>
    </header>
     
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'layouts/footer' %>
    <% if Rails.env.development? %>
      admin:<%= current_admin.inspect %><br>
      user:<%= current_user.inspect %><br>
      <%= debug params %>
    <% end %>
  </body>
</html>
